<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" />   

### <font color='navy'> Simulación de Procesos Financieros. 

**Nombres:** José Alberto Mayagoitia Gutiérrez  
             Alexia Marisol Díaz Verduzco

**Fecha:** 9 de Septiembre 2021

**Expedientes:** IF720266  
                 IF720500  
    
**Profesor:** Oscar David Jaramillo Zuluaga
    
**Link Github**: https://github.com/Mayagoitia29/TAREA2_JAMAYAGOITIA_AMDIAZ

# Tarea 2: Clase 4

## Ejercicio 1 

Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

Código de solución estudiante 1

In [6]:
import numpy as np
import time,math 
import matplotlib.pyplot as plt
from functools import reduce
import pandas as pd

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
p=lambda x,y:x*y
def increase (value):
    if (value<100):
        value+=10
    return value

x=list(map(increase,[p(orders[i][2],orders[i][3]) for i in np.arange(len(orders))]))
result=list(map(lambda x,y: (x[0],y),orders,x))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

Código de solución estudiante 2

In [3]:
########### Solución 1
orders1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

cond1 = lambda x: x if x>=100 else x+10
orders11 = list(map(lambda x: (x[0],cond1(x[2]*x[3])),orders1))
orders11

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

## Ejercicio 2

La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

Código de solución estudiante 1

In [10]:
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
from functools import reduce
def price(s):
    return s[1] * s[2] if s[2] * s[1] >= 100 else s[2] * s[1] + 10
total = [[price(orders[i][j]) for j in range(1, len(orders[i]))] for i in range(len(orders))]
[(orders[i][0], reduce(lambda t, u: t + u, total[i])) for i in range(len(total))]

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

Código de solución estudiante 2

In [4]:
########### Solución 2
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
         [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
         [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
        [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
#condicional
cond2 = lambda x: x if x>=100 else x+10
orders22 = list(map(lambda x: [x[0]] + list(map(lambda y: cond2(y[1]*y[2]),x[1:])),orders2))
#suma de las cantidades de cada pedido
suma = lambda a,b: a+b
orders22 = list(map(lambda x: (x[0],reduce(suma,x[1:])),orders22))
orders22

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

## Ejercicio 3

Resolver los anteriores ejercicios usando pandas (DataFrame)

Código de solución estudiante 1

In [11]:
#Codigo ejercicio 1 con dataframe
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
import pandas as pd
orders=pd.DataFrame(orders)
orders["Total"]=(orders.iloc[:,2]*orders.iloc[:,3]).apply(lambda x:x if x>=100 else x+10)
orders.drop([1, 2,3], axis=1, inplace=True)
orders

       0   Total
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

In [12]:
#Codigo ejercicio 2 con dataframe
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
def price(s):
    return s[1] * s[2] if s[2] * s[1] >= 100 else s[2] * s[1] + 10
total = [[price(orders[i][j]) for j in range(1, len(orders[i]))] for i in range(len(orders))]
v=[(orders[i][0], reduce(lambda t, u: t + u, total[i])) for i in range(len(total))]
orders=pd.DataFrame(v)
orders

   0       1
0  1  688.33
1  2  504.46
2  3  374.80
3  4  502.57

Código de solución estudiante 2

In [7]:
########### Solución 3.1.DataFrame

orders1df = pd.DataFrame(data= (["34587", "Learning Python, Mark Lutz", 4, 40.95],
                              ["98762", "Programming Python, Mark Lutz", 5, 56.80],
                              ["77226", "Head First Python, Paul Barry", 3,32.95],
                              ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]),
                       columns=['Order Number', 'Book Title and Author', 'Quantity', 'Price per Item']) 

sol1 = pd.DataFrame(data=(orders1df['Quantity']*orders1df['Price per Item']),
                    columns=['Total'])
sol1['Total']= sol1['Total'].apply(lambda x: x if x>=100 else x+10)
sol1['Order Number']=orders1df['Order Number']
sol1= sol1[['Order Number','Total']]
sol1

  Order Number   Total
0        34587  163.80
1        98762  284.00
2        77226  108.85
3        88112   84.97

In [8]:
########### Solución 3.2.DataFrame
orders2df = pd.DataFrame(data=orders2,
                    columns=['Order Number','','',''])
#condicional
sol2 = list(map(lambda x: [x[0]] + list(map(lambda y: (y[1]*y[2]) if (y[1]*y[2])>=100 else (y[1]*y[2])+10, x[1:])), orders2))
#suma de las cantidades de cada pedido
sol2=list(map(lambda x: reduce(lambda a,b: a+b, x[1:]), sol2))
#columna extra para indicar la cantidad final del pedido
orders2df['Total']= sol2
orders2df.drop(['','',''],axis=1)

   Order Number   Total
0             1  688.33
1             2  504.46
2             3  374.80
3             4  502.57

## Ejercicio 4

Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

Código de solución estudiante 1

In [6]:
lista='the notion of a lambda function goes all the way back to the origin of computer science'
four_letters = lambda x: len(x) >= 4
x = list(filter(four_letters,lista.split()))
x

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

Código de solución estudiante 2

In [9]:
########### Solución 4
lista = 'the notion of a lambda function goes all the way back to the origin of computer science'
lista2 = lista.split()
resp3= list(filter(lambda x: len(x)>=4 ,lista2))
resp3

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

## Ejercicio 5
Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

Código de solución estudiante 1

In [7]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temper = (list(filter(lambda x:32 <= x <= 80, temperatures)))
print("The percentage of Fahrenheit temperatures in a list within the range 32 to 80 are: ", len(temper)*100/len(temperatures), "%")

The percentage of Fahrenheit temperatures in a list within the range 32 to 80 are:  46.666666666666664 %

Código de solución estudiante 2

In [11]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)
########### Solución 5
resp1 = list(filter(lambda x: 32 < x <80,temperatures))
print(resp1)
resp2 = (len(resp1)/len(temperatures))*100
print('El porcentaje de temperatura Fahrenheit que están en un rango de 32 a 80 es {}%'.format(resp2))

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]
[35.97387961379455, 63.211195349983264, 73.90387696517755, 36.982512376595906, 68.75395211338406, 45.86132066984196, 36.58307493022292, 56.322083650154724, 33.9621930206693, 45.29071317816652, 74.86289938282341, 66.51091382521807, 46.831316244170544, 44.55796498523391]
El porcentaje de temperatura Fahrenheit que están en un rango de 32 a 80 es 46.666666666666664%

## Ejercicio 6
Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

Código de solución estudiante 1

In [8]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
min=[np.minimum.reduce(list(map(lambda m: point_xy[m][0], range(len(point_xy))))), 
           np.minimum.reduce(list(map(lambda m: point_xy[m][1], range(len(point_xy)))))]
min

[0, 2]

Código de solución estudiante 2

In [13]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])

########### Solución 6
np.minimum.reduce(point_xy)

array([0, 2])